<head>
  <style>
    
    #page-wrapper {
      padding-left: 30px;
    }

    #table-container {
      padding-top: 25px;
    }

    #course-table {
      width: 800px;
    }

  </style>
</head>
<body>
  <div id="page-wrapper">
    <div id="table-container">
      <table id="course-table" mat-table [dataSource]="courses" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Course Name</th>
          <td mat-cell *matCellDef="let course">{{course.name}}</td>
        </ng-container>
        <ng-container matColumnDef="lectures">
          <th mat-header-cell *matHeaderCellDef>Lectures</th>
          <td mat-cell *matCellDef="let course">-</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div id="add-course-form-wrapper">
      <h1>Add Course: </h1>
      <mat-form-field>
        <input matInput placeholder="Course Name">
      </mat-form-field>
  
      <div id="lecture-form-wrapper">
        <h3>Lectures:</h3>
        <h5>Days</h5>
        <mat-button-toggle-group multiple #group="matButtonToggleGroup">
          <mat-button-toggle value="monday">M</mat-button-toggle>
          <mat-button-toggle value="monday">T</mat-button-toggle>
          <mat-button-toggle value="monday">W</mat-button-toggle>
          <mat-button-toggle value="monday">Th</mat-button-toggle>
          <mat-button-toggle value="monday">F</mat-button-toggle>
        </mat-button-toggle-group>
    
        <h5>Time</h5>
        <mat-form-field>
          Start: <input matInput type="time">
        </mat-form-field>
        <br/>
        <mat-form-field>
          End: <input matInput type="time">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input matInput placeholder="Professor(Optional)">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Location(Optional)">
        </mat-form-field>
      </div>

    </div>
  </div>
</body>
